* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  background-color: #788196;
}

.calculator-container {
  margin:0px auto;
  width: 400px;
  margin-top: 150px;
  background-color: #524966;
  border: 10px solid #67106e;
  border-radius: 20px;
}

.calculator-buttons {
  display:inline-block;
  width: 100%;
  height: 310px;
  margin-top: 25px;
  margin-left: 26px;
}

.calculator-buttons button {
  padding: 15px;
  width: 80px;
  font-size: 20px;
  margin-right: 2px;
  margin-bottom: 2px;
}

#btn-clear {
  padding: 10px;
  width: 349px;
}

button {
  cursor: pointer;
}

.output {
  background-color: black;
  border-radius: 10px;
}


.previous-operand {
  text-align: right;
  color:gray;
  background-color: black;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  height: 10px;
}

.current-operand {
  text-align: right;
  color:white;
  background-color: black;
  padding: 10px 40px 40px 40px;
  font-size: 40px;
  border-bottom: 1px solid pink;
  height: 20px;
}